@import url(https://fontawesome.com/icons/wheat?f=classic&s=solid);

.logo{
    width: 100px;
    height: 100px;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}
 
h4 {
    font-size: 20px;
    line-height: 64px;
    color: blanchedalmond;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color:  #465b52;
    margin: 15px 0 20px 0;
}

.section-p1{
    padding: 30px 30px;
}

.section-m2{
    margin: 40px 0;


}
button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: black;
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}
button.white{
    font-size: 14px;
    font-weight: 600;
    padding: 11px 18px;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid #fff;
    transition: 0.2s;
}

#header {

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:  20px 80px ;
    background: #E3E6F3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    right: 0;
    left: 0;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding:  0 20px;
    position: relative;

}

#navbar li a {
    text-decoration: none;
    font-size:  16px;
    font-weight: 700;
    color : black;
    transition:0.5s ease;
}

body {
    background-color: white;
    width: 100%;
}
#navbar li a:hover,
#navbar li a.active{
    color: green;
} 

#navbar li a.link {
    color: blue;
}
#navbar li a.active::after, 
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height:3px ;
    background-color: #E3E6F3;
    position: relative;
    bottom: -4px;
    left: 30px;
}
#mobile {
    display: none;
    align-items: center;
}
#close{
    display: none;
    align-items: center;
}
#hero {
    background-color: gold;
    background-image: url("img/Products/Beef.jpeg") ;
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25%, right 0%;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h4{
    padding-bottom: 15px;
    text-align: left;
    padding: 20px 10px;

}
#hero h1{
    color: greenyellow;
}
#hero h2 {
    color: greenyellow;
}
#hero h4 {
    color: greenyellow;
}
#hero p {
    color: blueviolet;
}
#hero button{
    background-color: greenyellow;
    color: green;
    border: 0;
    padding:  14px 80px 14px 65px;
    background-repeat: no-repeat ;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;


}
#feature {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
#feature .fe-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 33px rgba(0, 0, 0, 0.03);
    border: 1px solid greenyellow;
    border-radius: 4px;
    margin: 15px;
}
#feature .fe-box:hover{
    box-shadow: 10px 10px 55px rgba(70, 62, 222 0.1);
}

#feature .fe-box img {
    width: 100px;
    margin-bottom: 10px;
}
#feature .fe-box h6{
    padding: 10px 9px 7px 8px;
    line-height: 2;
    border-radius: 4px;
    color: green;
    background-color: #fddde4;

}

#feature .fe-box:nth-child(2) h6{
    background-color: aqua;
}
#feature .fe-box:nth-child(3) h6{
    background-color:  aquamarine;
}

#feature .fe-box:nth-child(4) h6{
    background-color: beige;
}

#feature .fe-box:nth-child(5) h6{
    background: black;
}

#product1{
    text-align: center;
}
.pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    flex-wrap: wrap;
}
#product1 .pro{
    width: 23%;
    padding: 10px 12px;
    border: 2px solid greenyellow;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
    margin: 15px 0;
    transition: 0.5s ease;
    position: relative;
    background-color:yellowgreen;
}
#product1 .pro:hover{
    box-shadow:  20px 20px 30px rgba(0, 0, 0, 0.06);
}

#product1 .pro img{
    width: 80%;
    border-radius: 10px;
    background-color: whitesmoke;
}
#product1 .pro .des{
    text-align: start;
    padding: 10px 10px;
}
#product1 .pro .des span{
    color: #686063;
    font-size: 12px;
}
#product1 .pro .des .star {
    color: rgb(243, 181, 25);
}
#product1 .pro .des h4{
    color: #222;
    font-size: 12px;
}
#product1 .pro .des i{
    font-size: 12px;
    color: #088178;
}
#product1 .pro .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #E3E6F3;
    font-weight: 500;
    color: #088178;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
}


#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("img/Products/Beef.jpeg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}

#banner h4{
    color: beige;
    font-size: 16px;
    padding: 10px 0;
}

#banner h2{
    columns: white;
    font-size: 12px;
    padding: 10px 0;
}
#banner h2 span{
    color: red;

}
#banner button{
    color: aqua;
    background-color: antiquewhite;
}
#banner button:hover{
    background: green;
    color: #fff;   
}

#fm-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#fm-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("img/Products/39b94441-a490-437b-8ccd-c72f932d35f9.jpeg");
    min-width: 500px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
}
#fm-banner .banner-box2{
    background-image: url("img/News.jpeg");
}

#fm-banner h4{
    color: #E3E6F3;
    font-size: 20px;
    font-weight: 300;
}

#fm-banner h2 {
    color: #E3E6F3;
    font-size: 28px;
    font-weight: 800;
}
#fm-banner span{
    color: white;
    font-size: 15px ;
    font-weight: 700;
    padding-bottom: 15px;
}
#fm-banner .banner-box:hover button{
    background: #465b52;
    border: 1px solid #465b52;

}
#banner3{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px; 
}

#banner3 .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("img/39b94441-a490-437b-8ccd-c72f932d35f9.jpeg");
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px; 
}
#banner3 h3{
    color: yellow;
    font-weight: 800;
    font-size: 15px;

}

#banner3 h2{
    color: red;
    font-weight: 800;
    font-size: 30px;
}
#banner3 .banner-box2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("img");
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px; 
}
#banner3 .banner-box3{
    background-image: url("img/Products/Eggs.png")    
}
#banner3 .banner-box4{   
    background-image: url("img/Beef.jpeg");
}

#Newsletter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url("img/features/f1.png");
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: white
}
#Newsletter h4{
    font-size: 14px;
    font-weight: 700;
    color: black ;

}
#Newsletter p span {
    font-size: 14px;
    font-weight: 700;
    color: black ;

}
#Newsletter p{
    color: black;
}
#Newsletter input{
    height: 3.125rem;
    padding: 0 1.25em;
    width: 100px;
    border:  1px solid transparent;
    border-radius: 4px;
    outline: none;
    background-color: bisque;
    color: #222;
    border-top-right-radius:0 ;
    border-bottom-right-radius: 0;
}
#Newsletter button{
    background-color: #088178;
    color: #E3E6F3;
    white-space: nowrap;
    border-top-left-radius:0 ;
    border-bottom-left-radius: 0;
}
#Newsletter .form{
    display: flex;
    width: 40%;
}

.col img{
    width: 100px;
    height: 100px;
    color: #088178;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col {
    display: flex;
    flex-direction: column;
    align-items:flex-start ;
    margin-bottom: 20px;
}
footer .logo {
    margin-bottom: 30px;
}
footer h4 {
    font-size: 15px;
    padding-bottom: 20px;
}
footer p {
    font-size: 15px;
    margin:  0 0 8px0;
}
footer a {
    font-size: 13px;
    text-decoration: none;
    color:#222;
    margin-bottom: 10px;
}
footer .follow i{
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;

}
footer .install .row img{
    border: 1px solid green;
    border-radius: 6px ;
}
footer  .install img {
    margin:  10px 0 15px 0;
}

footer  .follow i:hover,
footer a:hover{

}
footer .copyright{
    width: 100%;
    text-decoration: dashed;
    text-align: center;
}

/* Start Media Query */
@media (max-width:799px) {
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        right: 0px;
        right: -330px;
        height: 100vh;
        width: 300px;
        background-color: #E3E6F3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.01);
        padding: 80px 0 0 10px;
        transition: 0.3s;

    }
    #navbar.active {
        right: 0px;
    }
    #navbar li{
        margin-bottom: 25px;
    }
    #mobile {
        display: flex;
        align-items: center;
}
#mobile i {
    color: black;
    font-size: 24px;
    padding-left: 20px ;

}
#close {
    position:absolute;
    top:30px;
    left: 30px;
    color:  #222;
    font-size: 24px;

}
#farm-bag{
    display: none;

}
#hero {
    height: 70vh; 
    padding: 0 80px;
    background-position: top 30% right 30%;
}
#feature {
    justify-content: center;
}
}